* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

header {
  height: 140px;
  width:100%;
}

aside {
  float: left;
  height: 450px;
  width: 30%;
}

section {
  float: left;
  height: 450px;
  width: 70%;
}

footer {
  clear: both;
  height: 100px;
  width: 100%;
}